<% content_for :lcontent do %>
  <%= render @user %>
<% end %>

<% content_for :rcontent do %>
  <%= render :partial => "pictures/pictures", :locals => {:pictures => @pictures} %>
  <% if current_user == @user %>
    <%= render "pictures/new" %>
  <% end %>
  <div class="clear-all"></div>
<% end %>
