<% content_for :lcontent do %>
  <%= render @user %>
<% end %>

<% content_for :rcontent do %>
  <%= render :partial => "posts/posts", :locals => {:posts => @posts} %>
  <% if current_user == @user %>
    <%= render "posts/new" %>
  <% end %>
  <div class="clear-all"></div>
<% end %>
