<div class="align-right">
  <h2><%= link_to "Posts", posts_path, :class => "control", :id => "posts" %></h2>
  <h2><%= link_to "Pictures", pictures_path, :class => "control", :id => "pictures" %></h2>
</div>

