<div class="new-tag">
  <%= form_for :tag, :url => tags_path, :html => {:class => "wrapper"} do |f| %>
    <%= f.text_field :value, :class => "textbox" %>
    <%= f.submit "Create", :class => "button", :id => "new" %>
  <% end %>
</div>
