<% content_for :lcontent do %>
  <%= render "shared/menu" %>
<% end %>

<% content_for :rcontent do %>
  <div class="wrapper">
    <%= render :partial => "posts/posts", :locals => {:posts => @posts} %>
    <%= render :partial => "pictures/pictures", :locals => {:pictures => @pictures} %>
  </div>
<% end %>
