<div class="new-post">
  <%= form_for :post, :url => posts_path, :html => {:class => "wrapper"} do |f| %>
    <%= f.text_area :content, :class => "textbox content", :placeholder => "Have something to share?" %>
    <%= f.submit "Publish", :class => "button", :id => "new" %>
  <% end %>
</div>
