<table class="tagging">
  <tr>
    <td>
      <%= render :partial => "tags/tag", :locals => {:tag => tagging.tag} %>
    </td>
    <% if current_user.admin? %>
      <td>
        <%= form_tag tagging_path(tagging), :method => :delete do  %>
          <%= submit_tag "X", :class => "control", :id => "delete" %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
